﻿
@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/ICompanyActions.js"></script>

<style>
    .btn-space {
        margin-left: -5%;
        background-color: cornflowerblue;
        font-size: large;
    }
</style>
<br /><br />
<div ng-app="myApp">
    <div ng-controller="myCtrl" ng-init="GetAllData()" class="divList">
        <p class="divHead" style="font-size:20px;color:blue">List of Product</p>
        <table cellpadding="12" class="table table-bordered table-hover">
            <tr>
                <td>
                    <b>ID</b>
                </td>
                <td>
                    <b>ProductName</b>
                </td>
                <td>
                    <b>ProductNumber</b>
                </td>
                <td>
                    <b>Dimension</b>
                </td>
                <td>
                    <b>Weight</b>
                </td>
                <td>
                    <b>Picking_Address</b>
                </td>
            </tr>
            <tr ng-repeat="pro in products">
                <td>
                    {{pro.ID}}
                </td>
                <td>
                    {{pro.ProductName}}
                </td>
                <td>
                    {{Emp.ProductNumber}}
                </td>
                <td>
                    {{Emp.Dimension}}
                </td>
                <td>
                    {{pro.Weight}}
                </td>
                <td>
                    {{pro.Picking_Address}}
                </td>
                <td>
                    <input type="button" class="btn btn-warning" value="Update" ng-click="UpdateProduct(pro)" />
                    <input type="button" class="btn btn-danger" value="Delete" ng-click="DeleteProduct(pro)" />
                </td>
            </tr>
        </table>
        <div class="form-horizontal" role="form">
            <div class="container">
                <div class="row">
                    <h2>
                        <span id="spn" style="font-size:20px;color:blue">Add New Product</span>
                    </h2>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group">
                            <label class="col-md-4 control-label">ProductName:</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control"  placeholder="ProductName" ng-model="ProName">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group">
                            <label class="col-md-4 control-label">ProductNumber:</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control"  placeholder="ProductNumber" ng-model="ProNumber">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Dimension:</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control"  placeholder="Dimension" ng-model="ProDimension">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Weight:</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="Weight" ng-model="ProWeight">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Picking_Address:</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="Picking_Address" ng-model="ProAddress">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-lg-4">
                        <input type="button" id="btnSave" class="form-control btn-space" value="Submit" ng-click="InsertData()" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Hidden("ID")
</div>
